* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sue Ellen Francisco", cursive;
}

.card {
  max-width: 40%;
  border-radius: 50px !important;
  background: #f0c7c7 !important;
  box-shadow: 24px 24px 48px #cca9a9, -24px -24px 48px #ffe5e5;
}

h1 {
  color: #cb9a9a;
  text-shadow: #ceb1b1 2px 2px 2px;
  font-size: 80px;
}

@media only screen and (max-width: 425px) {
  .input-control {
    width: 30%;
  }
}
