* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

#answercelsius {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  margin-top: 20pt;
}

#answerfahrenheit {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  margin-top: 20pt;
}
